body {background-color: rgb(red, green, blue);
}
h1 {text-align: center; color: aquamarine;}
p {text-align: justify;color: black;}
#logo {height: 80%; width: 80%;}
h1 { text-align: center; color: #440a2f; 
    border: 8px solid black;
    padding: 5px; margin: 3px;
}
.principal {background-color: aquamarine;
font-size: x-large;color: blue;}